*{
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
}
img{
	display: block;
}
body{
	background-color: #f8f8f8;
	font-family: "微软雅黑","宋体";
    font-size: 12px;
    color: #666;
}
a{
	text-decoration: none;
	display: block;
}
input{
	border: 0;
	outline:none;
	display: block;
}
.logo{
		width: 100%;
		height: 110px;
		background: red;
}
.logo .lg{
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	background: yellow;
}
.qq{
	position: fixed;
	bottom: 75px;
	right: 170px;
	z-index: 10;
	width: 100px;
	height: 190px;
}
.qq img{
	border: 0;
    vertical-align: top;
}
.top{
	width: 100%;
	height: 85px;
	padding-top: 25px;
	position: relative;
	top: 0;
	left: 0;
	background-color: #F8F8F8;
}
.topp{
	width: 1000px;
	margin: 0 auto;   
}
.top img{
	height: 61px;
    width: 267px;
    float: left:;
}
.navv{
	width:100%;
	height:50px; 
	background-color: black;
}
.nav{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	background-color: #000;
}
.nav .nav1{
	width: 110px;
	height: 50px;
    margin-right: 40px;
    text-align: center;
    float: left;
    cursor: pointer;
}
.nav .nav1:hover{
	background-color: #fff;

}
.nav .nav1:hover span{
	color: #000;
}
.nav .nav1 span{
	color: #fff;
	font-size: 16px;
	line-height: 50px;
    font-family: 微软雅黑;
}
.nav a .nav2{
	background-color: #fff;
}
.nav a .nav2 span{
	color: black;
}
/* banner */
.banner{
	width: 100%;
	height: 300px;
	background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-image: url('../img/meirong/datu.jpg');
    background-size: cover;
}
/* con */
.con{
	width: 1000px;
	height: 361px;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
}
.con .zuo{
	width: 480px;
	height: 335px;
	margin: 18px 5px 5px 5px;
	background: yellow;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
	float: left;
}
.con .zuo .tiao{
	width: 100%;
	height: 30px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 30px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
}
/* you */
.con .you{
	width: 500px;
	height: 100%;
	padding-bottom: 16px;
	background: #fff;
	float: right;
	padding-top: 12px;
	box-sizing: border-box;
 }
 .con .you  .wenti{
 	width: 480px;
 	height: 37px;
 	padding: 3px 5px;
 	border-bottom: 1px solid #ccc;
 	margin: 0 auto; 
 }
 .con .you  .wenti:last-child{
 	border: 0;
 }
 .con .you .wenti a{
 	width: 100%;
 	height: 100%;
 	color: #333;
 }
 .con .you .wenti a:hover{
 	color: #FF9D0B;
 }
 .con .you .wenti a .ti{
 	width: auto;
 	height: auto;
 	line-height: 33px;
 	float: left;
 	
 }
 .con .you .wenti a .date{
 	width: auto;
 	height: auto;
 	line-height: 33px;
 	float: right;

 }
 /* 美容实例 */
 .con2{
 	width: 1000px;
 	height: 269px;
 	background: #fff;
 	margin: 0 auto;
 	margin-top: 7px;
 	margin-bottom: 7px;
 }
 .con2 .top{
 	width: 1000px;
 	height: 35px;
 	line-height: 35px;
 	font-size: 14px;
	padding-left: 5px;
	background: #fff;
	box-sizing: border-box;
 }
 .con2 .tpcon{
 	width: 985px;
 	height: 224px;
 	margin: 5px 10px 5px 5px;
 	overflow: hidden;
 }
 .con2 .tpcon .tu{
 	width: 2250px;
 	height: 204px;
 	display: flex;
 	justify-content: space-between;
 }
.con2 .tpcon .tu img{
	float: left;
}
/* bottom */
 .tom{
 	width: 100%;
 	height: 122px;
 	background: #000000;
 }
 .tom  .tom1{
 	width: 1000px;
 	height: 122px;
 	padding: 18px 0;
 	margin: 0 auto;
 	box-sizing: border-box;
 }
 .tom .tom1 .bt1{
 	width: 100%;
 	height: 26px;
 	color: #545454;
 	font-size: 13px;

 }
 .tom .tom1 .bt1 .dianhua{
 	width: 270px;
 	height: 26px;
 	line-height: 26px;
 	float: left;
 }
 .tom .tom1 .bt1 .lianjie{
 	width: auto;
 	height: 100%;
 	float: right;
 }
.tom .tom1 .bt1 .lianjie a{
	width: auto;
	height: 26px;
	line-height: 26px;
	float: left;
	font-size: 12px;
	color: #545454;
}
.tom .tom1 .bt1 .lianjie a:hover{
	color: #fff;
}
.tom .tom1 .bt1 .lianjie .gun{
	height: 26px;
	line-height: 26px;
	float: left;
	margin: 0 3px;
	font-size: 10px;
}
 .tom .tom1 .bt2{
 	width: 100%;
 	height: 26px;
 	color: #545454;
 	font-size: 13px;
 }
 .tom .tom1 .bt2 .youxiang{
 	width: 270px;
 	height: 26px;
 	line-height: 26px;
 	float: left;
 }
 .tom .tom1 .bt2 .youxiang:last-child{
 	width: auto;
 	height: 26px;
 	line-height: 26px;
 	float: right;
 }
 .tom .tom1 .bt3{
 	width: 100%;
 	height: 26px;
 	color: #545454;
 	font-size: 13px;
 }
.tom .tom1 .bt3 .dizhi{
 	width: 270px;
 	height: 26px;
 	line-height: 26px;
 	float: left;
 }
 .tom .tom1 .bt3 .denglu{
 	width: auto;
 	height: 100%;
 	float: right;
 }
.tom .tom1 .bt3 .denglu .tp{
	width: auto;
	height: 26px;
	line-height: 26px;
	float: left;
	margin-right: 1px;
}
.tom .tom1 .bt3 .denglu .before{
	width: auto;
	height: 26px;
	line-height: 26px;
	float: left;
	font-size: 12px;
	float: left;
	margin-right: 6px;
	color: #545454;
}
.icon-wangyiyunyinlezizhi-copy{
	line-height: 26px;
	float: left;
	font-size: 12px;	
}
.tom .tom1 .bt3 .denglu .before p{
	float: left;
}
.tom .tom1 .bt3 .denglu .before:hover{
	color: #fff;
}
.tom .tom1 .bt3 .denglu .gun{
	height: 26px;
	line-height: 26px;
	float: left;
	margin: 0 3px;
	font-size: 10px;
}
.tom .tom1 .bt3 .denglu .guanli{
	width: auto;
	height: 26px;
	line-height: 26px;
	float: left;
	font-size: 12px;
	color: #545454;
}
.tom .tom1 .bt3 .denglu .guanli:hover{
	color: #fff;
}